@use '../abstract/mixins/mix-layout' as mx-lt;
@use '../abstract/variables' as v;
.live {
	width: 35%;
	@include mx-lt.flex();

	@include mx-lt.mobile(v.$destopk) {
		width: 75%;
	}

	@include mx-lt.mobile(v.$tablet) {
		width: 80%;
	}

	@include mx-lt.mobile(v.$mobile) {
		width: 100%;
	}

	&__container {
		&:hover .live__img {
			object-position: 2.4rem 1rem;
			transform: scale(1.2);
		}
	}
	&__img {
		transition: object-position 0.3s ease, transform 0.3s ease;
	}

	&__link {
		font-family: v.$font-family-poppins-bold;
		font-size: v.$link_filter;
		color: v.$cream;
		transition: color 0.2s ease-in;

		&:hover {
			color: v.$soft-green;
		}

		&:hover > img {
			filter: grayscale(0);
		}

		@include mx-lt.mobile(v.$tablet) {
			color: v.$soft-green;

			& > img {
				filter: grayscale(0);
			}
		}
	}

	&__icon {
		width: 8rem;
		transition: filter 0.2s ease-in;
		filter: grayscale(1);
	}
}
