@use '../abstract/mixins/mix-animations' as mx-an;
@use '../abstract/mixins/mix-layout' as mx-lt;
@use '../abstract/variables' as v;
.header {
	width: 100%;
	height: fit-content;
	padding-block: v.$space-1rem;

	@include mx-lt.flex($direction: row, $gap: v.$space-3-5rem);
	@include mx-an.scroll-animation-blur-header();
	@include mx-lt.position-header();

	@include mx-lt.mobile(v.$mobile) {
		gap: v.$space-2rem;
		@include mx-lt.position-header(fixed, $top: calc(100dvh - 56px));
	}

	&__actions {
		@include mx-lt.flex($direction: row, $gap: v.$space-1-3rem);
		@include mx-lt.mobile(v.$mobile) {
			gap: 0.5rem;
		}
	}

	&__icon {
		width: 2.1rem;
		@include mx-lt.mobile(v.$tablet-regular) {
			width: 1.9rem;
		}

		@include mx-lt.mobile(v.$mobile) {
			width: 1.5rem;
		}
	}
}
